<html>
<head>
  <title>2FA</title>
</head>
<body>
   
    <form action="/login" method="post">
        <h4>Authenticate using your account information</h4>
        <p id="loginResponse"></p>
        <div>
            <ul>
                <li>
                    <label>User Email : </label>
                    <input type="text" id="email" name="email" />
                </li>
                <li>
                    <label>Password : </label>
                    <input type="password" id="password" name="password" />
                </li>
            </ul>
        </div>
        <button type="submit">Login</button>
    </form>
	@if (Model != null && Model.Message != null)
		{
        <div class="alert alert-@(Model.Type)">
            <p>@Model.Message</p>
        </div>
		}
</body>
</html>